@{
    ViewBag.Title = "Gestion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Gestion</h2>
<script type="text/javascript">
    function test() {
        alert("test");
        $.ajax({
            url: '/CasTest/getAllCasTest',
            contentType: 'application/html; charset=utf-8',
            type: 'GET',
            dataType: 'html'

        })
            .success(function (result) {
                $('#content').html(result);
            })
            .error(function (xhr, status) {
                alert(status);
            })
    }
</script>
<body onload="test()">
    <div id="content"></div>
</body>