@{
    Layout = "~/Views/Shared/_LayoutTest2.cshtml";
}
@{
    ViewBag.Title = "Projet";
}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"
        type="text/javascript"></script>
<script src="~/bootstrap/js/JavaS_test.js" type="text/javascript"></script>
<script >
    $(document).ready(loadList());

</script>
<section class="content-header">
    <h1>
        Projet
        <small>Détails</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Accueil</a></li>
        <li><a href="#">Projet</a></li>
        <li class="active">Détails</li>
    </ol>
</section>

<section id="sectionDetail" class="content">
    <div class="box box-default color-palette-box">
        <div class="box-header with-border">
            <div class="btn-group-sm">
                <a id="btnEnr" class="btn btn-sm btn-info btn-flat pull-left">Enregistrer</a>
                <a id="btnMod" class="btn btn-sm btn-info btn-flat pull-left">Modifier</a>
                <a id="btnSup" class="btn btn-sm btn-info btn-flat pull-left">Supprimer</a>

                <a id="btnEqu" class="btn btn-sm btn-info btn-flat pull-left">Afficher équipe</a>
            </div>
            <div class="btn-group-sm">
                <a class="btn btn-sm btn-info btn-flat pull-right">Retour</a>
            </div>
        </div>
        <div class="box-body">
            <div style="width:50%; float:left;">
                <dl class="dl-horizontal">
                    <dt>Code projet: </dt>
                    <dd>
                        <input type="text" size="10" maxlength="10" name="txtProjet" value=" " />
                    </dd>

                    <dt>Chef de Projet: </dt>
                    <dd>
                        <select id="lstChefs">
                            <option value="-1">selectionner un chef</option>
                        </select>
                    </dd>

                    <dt>Nom: </dt>
                    <dd>
                        <input type="text" size="30" maxlength="30" name="txtNom" value=" " />
                    </dd>

                    <dt>Version jeu: </dt>
                    <dd>
                        <select id="lstVersions">
                            <option value="aucun">Selectionner un jeu</option>
                        </select>
                    </dd>

                    <dt>Date de création: </dt>
                    <dd>
                        <input type="date" data-inputmask="'alias': 'dd/mm/yyyy'" data-mask="">
                    </dd>

                    <dt>Date de d'échéance: </dt>
                    <dd>
                        <input type="date" data-inputmask="'alias': 'dd/mm/yyyy'" data-mask="">
                    </dd>

                    <dt>Description: </dt>
                    <dd>
                        <textarea type="text" style="width:95%;" rows="5" name="txtNom" value=" "></textarea>
                    </dd>
                </dl>
            </div>
            <div style="width:50%; float: right;">

                <label>Autre: </label><br />
                <textarea type="text" style="width:95%;" rows="6" name="txtNom" value=" "></textarea><br />
                <label>Objectif: </label><br />
                <textarea type="text" style="width:95%;" rows="6" name="txtNom" value=" "></textarea><br />

            </div>
        </div>

    </div>
    <div class="box box-default color-palette-box table-responsive">
        <div class="box-header with-border">
            <div class="btn-group-sm">
                <a class="btn btn-sm btn-info btn-flat pull-left">Ajouter un cas de test</a>
                <a class="btn btn-sm btn-info btn-flat pull-left">Supprimer</a>
            </div>
        </div>
        <div class="box-body">
            <table class="table table-bordered">
                <tr>
                    <th></th>
                    <th>Code</th>
                    <th>Titre</th>
                    <th>Priorité</th>
                    <th>Difficulté</th>
                    <th>Date de création</th>
                    <th>Date d'échéance</th>
                    <th></th>
                </tr>

                @for (int i = 0; i < 5; i++)
                {
                    <tr>
                        <td>
                            <input type="checkbox" class="checkbox" />
                        </td>
                        <td>
                            @("Test" + (i + 1))
                        </td>
                        <td>
                            @("CasDeTest" + (i + 1))
                        </td>
                        <td>
                            Urgent
                        </td>
                        <td>
                            Intermédiaire
                        </td>
                        <td>
                            23/10/2015
                        </td>
                        <td>
                            24/10/2015
                        </td>

                        <td>
                            <div class="btn-group">
                                <button type="button" class="btn btn-info btn-sm">Détails</button>
                                <button type="button" class="btn btn-info dropdown-toggle btn-sm" data-toggle="dropdown" aria-expanded="false">
                                    <span class="caret"></span>
                                    <span class="sr-only">Toggle Dropdown</span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="#">Détails</a></li>
                                    <li><a href="#">Copier</a></li>
                                    <li><a href="#">Associer une équipe</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>
</section>







